################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AwesomeOpossum
/.vs/ProjectEvaluation
/src/AwesomeOpossum/AwesomeOpossum.csproj.user
/src/AwesomeOpossum/Properties/PublishProfiles/*.user
/src/AwesomeOpossum/bin
/src/AwesomeOpossum/obj
/src/AwesomeOpossum/TB_Files
/src/AwesomeOpossum/data

src/Generators/bin
src/Generators/obj

/AwesomeOpossum

*.exe
*.pdb
*.bin
*.nnue
*.dll
*.so
*.ilk
*.lib
*.exp
*.epd