################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AwesomeOpossum
/.vs/ProjectEvaluation
/AwesomeOpossum.csproj.user
/Properties/PublishProfiles/*.user
/Properties/launchSettings.json

/bin
/obj
/TB_Files
/data

AwesomeOpossum

*.exe
*.pdb
*.bin
*.nnue
*.dll
*.so
*.ilk
*.lib
*.exp
*.epd